<mat-toolbar class="backgrou" color="primary">
  <mat-toolbar-row></mat-toolbar-row>
  <mat-toolbar-row>
    <span class="center mat-display-2">About</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span class="center mat-title">Yant Properties</span>
  </mat-toolbar-row>
  <mat-toolbar-row></mat-toolbar-row>
</mat-toolbar>
<div class="mat-body-2">
  Yant Properties was established in 1988, and provides affordable, well
  -maintained rental homes for families in the Andalusia and Opp,
  Alabama area.
</div>
